> Introdução à Ciência dos Dados \
> Ciência da Computação – UFV/Florestal


* **Nome:** Leandro
* **Matrícula:**  3513

# Aula Prática 07
## Regras de Associação e o Algoritmo Apriori

**Objetivo:** Aplicar o algoritmo Apriori para extrair regras de associação de dados reais.
**Pré-requisitos:** Linguagem de programação Python, estatística básica \
**Meta:** Ao final da prática, o aluno será capaz de preparar dados e extrair regras de associação desses dados utilizado o algoritmo Apriori.

----

In [161]:
### NÃO REMOVA ESSA CÉLULA! ####
!pip --no-cache-dir install --upgrade learntools_dados_ufv

!wget https://raw.githubusercontent.com/gfviegas/CCF425-resources/master/p6/OnlineRetail.xlsx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: learntools_dados_ufv in /usr/local/lib/python3.7/dist-packages (1.0.7)
--2022-07-01 22:15:38--  https://raw.githubusercontent.com/gfviegas/CCF425-resources/master/p6/OnlineRetail.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23715344 (23M) [application/octet-stream]
Saving to: ‘OnlineRetail.xlsx.1’

OnlineRetail.xlsx.1 100%[===================>]  22.62M  --.-KB/s    in 0.1s

2022-07-01 22:15:39 (198 MB/s) - ‘OnlineRetail.xlsx.1’ saved [23715344/23715344]

In [162]:
#### Não altere essa célula!!! ####
import pandas as pd
import string
import random

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from learntools_dados_ufv.core import binder; binder.bind(globals())
from learntools_dados_ufv.ccf425.pratica_7 import *

WARNING:root:Ignoring repeated attempt to bind to globals

# Roteiro

## Estruturando os dados

### Criar o conjunto de dados

In [163]:
dataset = [['Leite', 'Cebola', 'Nutela', 'Feijão', 'Ovo', 'Iogurte'],
          ['Arroz', 'Cebola', 'Nutela', 'Feijão', 'Ovo', 'Iogurte'],
          ['Leite', 'Maça', 'Feijão', 'Ovo'],
          ['Leite', 'Chocolate', 'Pipoca', 'Feijão', 'Iogurte'],
          ['Pipoca', 'Cebola', 'Feijão', 'Sorvete', 'Ovo']]

dataset

[['Leite', 'Cebola', 'Nutela', 'Feijão', 'Ovo', 'Iogurte'],
 ['Arroz', 'Cebola', 'Nutela', 'Feijão', 'Ovo', 'Iogurte'],
 ['Leite', 'Maça', 'Feijão', 'Ovo'],
 ['Leite', 'Chocolate', 'Pipoca', 'Feijão', 'Iogurte'],
 ['Pipoca', 'Cebola', 'Feijão', 'Sorvete', 'Ovo']]

### Transformar no formato para ser utilizado no Apriori

In [164]:
transactions_oht = TransactionEncoder()
transactions = transactions_oht.fit(dataset).transform(dataset)
transactions

array([[False,  True, False,  True,  True,  True, False,  True,  True,
        False, False],
       [ True,  True, False,  True,  True, False, False,  True,  True,
        False, False],
       [False, False, False,  True, False,  True,  True, False,  True,
        False, False],
       [False, False,  True,  True,  True,  True, False, False, False,
         True, False],
       [False,  True, False,  True, False, False, False, False,  True,
         True,  True]])

In [165]:
df = pd.DataFrame(transactions, columns=transactions_oht.columns_)
df

,Arroz,Cebola,Chocolate,Feijão,Iogurte,Leite,Maça,Nutela,Ovo,Pipoca,Sorvete
0,False,True,False,True,True,True,False,True,True,False,False
1,True,True,False,True,True,False,False,True,True,False,False
2,False,False,False,True,False,True,True,False,True,False,False
3,False,False,True,True,True,True,False,False,False,True,False
4,False,True,False,True,False,False,False,False,True,True,True

## Calcular conjunto de itens frequentes

Com suporte mínimo de 0.6

In [166]:
# Calcula os conjuntos de itens frequentes, com suporte minimo de 0.6
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support               itemsets
0       0.6               (Cebola)
1       1.0               (Feijão)
2       0.6              (Iogurte)
3       0.6                (Leite)
4       0.8                  (Ovo)
5       0.6       (Feijão, Cebola)
6       0.6          (Ovo, Cebola)
7       0.6      (Feijão, Iogurte)
8       0.6        (Feijão, Leite)
9       0.8          (Feijão, Ovo)
10      0.6  (Feijão, Ovo, Cebola)

## Calcular regras de associacão utilizando o Apriori

Com filtro de confiança de 0.1

In [167]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Feijão),(Cebola),1.0,0.6,0.6,0.60,1.00,0.00,1.0
1,(Cebola),(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
2,(Ovo),(Cebola),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,(Cebola),(Ovo),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Feijão),(Iogurte),1.0,0.6,0.6,0.60,1.00,0.00,1.0
5,(Iogurte),(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Feijão),(Leite),1.0,0.6,0.6,0.60,1.00,0.00,1.0
7,(Leite),(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,(Feijão),(Ovo),1.0,0.8,0.8,0.80,1.00,0.00,1.0
9,(Ovo),(Feijão),0.8,1.0,0.8,1.00,1.00,0.00,inf
10,"(Feijão, Ovo)",(Cebola),0.8,0.6,0.6,0.75,1.25,0.12,1.6
11,"(Feijão, Cebola)",(Ovo),0.6,0.8,0.6,1.00,1.25,0.12,inf
12,"(Ovo, Cebola)",(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
13,(Feijão),"(Ovo, Cebola)",1.0,0.6,0.6,0.60,1.00,0.00,1.0
14,(Ovo),"(Feijão, Cebola)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
15,(Cebola),"(Feijão, Ovo)",0.6,0.8,0.6,1.00,1.25,0.12,inf

In [168]:
# Filtro por 'confidence'. Pode ser feito por outros campos também
rules[rules['confidence'] > 0.75]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Cebola),(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
3,(Cebola),(Ovo),0.6,0.8,0.6,1.0,1.25,0.12,inf
5,(Iogurte),(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,(Leite),(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
8,(Feijão),(Ovo),1.0,0.8,0.8,0.8,1.00,0.00,1.0
9,(Ovo),(Feijão),0.8,1.0,0.8,1.0,1.00,0.00,inf
11,"(Feijão, Cebola)",(Ovo),0.6,0.8,0.6,1.0,1.25,0.12,inf
12,"(Ovo, Cebola)",(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
15,(Cebola),"(Feijão, Ovo)",0.6,0.8,0.6,1.0,1.25,0.12,inf

# Exercícios

Os exercícios abaixo são referentes ao conjunto de dados `OnlineRetail` que já foi utilizado em práticas anteriores

Execute e não remova a célula abaixo antes de iniciar os exercícios. Faça todas as atividades manipulando a variável `df`.

In [169]:
# Atribui o dataframe com o estado "original" em uma variável isolada
original_df = pd.read_excel('./OnlineRetail.xlsx')

In [170]:
df = original_df.copy()

## 1. Faça uma preparação dos dados.
Antes de fazer a análise de regras de associação, é necessário que você trate alguns dados desse dataset. Essa prática é **extremamente** importante e comum, já que os dados que encntramos ~~quase nunca~~ nem sempre estão prontos para serem manipulados.

### 1.a. Remova os espaços em branco do começo e fim da coluna de Descrição do Produto
Faça a alteração do dataframe reatribuindo a variável `df`.
> Não use o argumento `inplace=True`

Chame a função `q1.a.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q1.a.hint()`

In [171]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [172]:
df['Description']=df['Description'].apply(lambda x: str(x).strip())

# # df = ...

q1.a.check()

CORRETO:

In [173]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

### 1.b. Remova as instâncias que não possuem um Número de Nota Fiscal
Faça a alteração do dataframe reatribuindo a variável `df`.
> Não use o argumento `inplace=True`

Chame a função `q1.b.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q1.b.hint()`

In [174]:
df['InvoiceNo']=df['InvoiceNo'].dropna()

# q1.b.hint()

# df = ...

q1.b.check()

CORRETO:

### 1.c. Converta a coluna de Número de Nota Fiscal para string
Faça a alteração do dataframe reatribuindo a variável `df`.
> Não use o argumento `inplace=True`

Chame a função `q1.c.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q1.c.hint()`

In [175]:
df['InvoiceNo']=df['InvoiceNo'].apply(lambda x: str(x))

# Resposta da 1.c

# q1.c.hint()

# df = ...

q1.c.check()

CORRETO:

## 2. Faça a recuperação e formatação de transações relevantes.
Vamos analisar somente as compras realizadas no país **Alemanha (Germany)**

### 2.a. Filtre o dataframe para recupearar somente as compras realizadas no país `Germany`
Armazene-a na variável `df_germany`.

Chame a função `q2.a.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.a.hint()`

In [176]:
# q2.a.hint()

df_germany = df.loc[df['Country']=='Germany']

q2.a.check()

CORRETO:

### 2.b. A partir do `df_germany`, recupere um dataframe agrupado pelo Número da Nota Fiscal e Descrição do Produto 

Armazene-a na variável `df_germany_grouped`.

Chame a função `q2.b.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.b.hint()`

In [177]:
# Resposta da 2.b

# q2.b.hint()

df_germany_grouped = df_germany.groupby(['InvoiceNo','Description'])

q2.b.check()

CORRETO:

### 2.c. A partir de `df_germany_grouped`, recupere a **Soma da Quantidade** de cada produto 

Armazene-a na variável `df_germany_grouped_sum`.

Chame a função `q2.c.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.c.hint()`

In [178]:
q2.c.hint()

df_germany_grouped_sum=df_germany_grouped['Quantity'].sum()

# df_germany_grouped_sum = df_germany_grouped['StockCode'].value_counts()
q2.c.check()

Dica 1: Utilize a função `sum` de uma coluna agrupada do Pandas.
(Para outra dica, chame `.hint(2)`)

CORRETO:

### 2.d. A partir de `df_germany_grouped_sum`, recupere um dataframe onde cada coluna possui a **soma da quantidade de cada produto**
Armazene-a na variável `df_germany_basket`.

#### Atenção:
- O dataframe deve possuir **uma coluna para cada descrição de produto**.
- Atribua o índice do dataframe com o **Número da Nota Fiscal**. 
- Todos os valores `NaN` devem ser convertidos para `0`


Chame a função `q2.d.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.d.hint()`

In [179]:
# Resposta da 2.d

q2.d.hint(4)

df_germany_basket=df_germany_grouped_sum.unstack(level=-1).reset_index().fillna(0).set_index('InvoiceNo')

# df_germany_basket = ...

q2.d.check()

Dica 4: Pesquise sobre a função `set_index` do Pandas.
(Para outra dica, chame `.hint(5)`)

CORRETO:

### 2.e. A partir de `df_germany_basket`, altere **TODAS AS COLUNAS** para obedecer a regra booleana abaixo.
> Regra: Se o valor do atributo for menor ou igual a 0, atribua-o 0. Se o valor do atributo for maior ou igual a 1, atribua-o 1.

Faça a alteração do dataframe reatribuindo a variável `df_germany_basket`.
> Não use o argumento `inplace=True`

Chame a função `q2.e.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.e.hint()`

In [180]:
# Resposta da 2.e

df_germany_basket=df_germany_basket.applymap(lambda x: 1 if x>=1 else 0)

q2.e.hint(2)

# df_germany_basket = ...

q2.e.check()

Dica 2: Pesquise sobre a função `applymap` do Pandas.

CORRETO:

### 2.f. A partir de `df_germany_basket`, remova a coluna `POSTAGE`.

Faça a alteração do dataframe reatribuindo a variável `df_germany_basket`.
> Não use o argumento `inplace=True`

Chame a função `q2.f.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.f.hint()`

In [181]:
# Resposta da 2.f

q2.f.hint(2)

df_germany_basket=df_germany_basket.drop(['POSTAGE'],axis=1)

q2.f.check()

Dica 2: Você quer dropar uma **coluna**. Então, lembre-se de passar o parâmetro `axis` corretamente.

CORRETO:

## 3. Faça o cálculo dos itemsets frequentes e regras de associação.
Utilize o algoritmo _apriori_.

### 3.a. A partir de `df_germany_basket`, calcule os itemsets frequentes utilizando `apriori`. 

Utilize o suporte mínimo de 0.04. Utilize o paramêtro `use_colnames=True`.

Armazene-a na variável `germany_frequent_itemsets`.

Chame a função `q3.a.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q3.a.hint()`

In [182]:
# Resposta da 3.a

# q3.a.hint()

germany_frequent_itemsets = apriori(df_germany_basket, min_support=0.04, use_colnames=True)


q3.a.check()

CORRETO:

### 3.b. A partir de `germany_frequent_itemsets`, calcule as regras de associação. 

Utilize filtro de confiança de `0.5`.

Armazene-a na variável `germany_rules`.

Chame a função `q3.b.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q3.b.hint()`

In [183]:
# Resposta da 3.b

# q3.b.hint()

germany_rules = association_rules(germany_frequent_itemsets, metric="confidence", min_threshold=0.5)

q3.b.check()

CORRETO:

## 4. Analise as regras obtidas.

### 4.a. A partir de `germany_rules`, recupere as regras com suporte maior ou igual a 0.015 e confiança maior ou igual a 0.75. 

Armazene-a na variável `germany_rules_a`.

Chame a função `q4.a.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q4.a.hint()`

In [184]:
# Resposta da 4.a

# q4.a.hint()

germany_rules_a = germany_rules[(germany_rules['confidence'] >= 0.75) & (germany_rules['support']>=0.015)]

q4.a.check()

CORRETO:

### 4.b. A partir de `germany_rules`, recupere as regras com lift maior ou igual a 4 e confiança maior ou igual a 0.8. 

Armazene-a na variável `germany_rules_b`.

Chame a função `q4.b.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q4.b.hint()`

In [185]:
# Resposta da 4.b

# q4.b.hint()

germany_rules_b = germany_rules[(germany_rules['lift'] >= 4) & (germany_rules['confidence']>=0.8)]

q4.b.check()

CORRETO:

### 4.c. Quais produtos você recomendaria colocar próximos se fosse organizar um supermercado físico?

Justifique sua resposta com evidências plausíveis em uma resposta completa.

Essa qustão não possui check automático. Mas você pode pedir dica com `q4.c.hint()`.

In [186]:
germany_rules.sort_values(by=["confidence","support"],ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(RED RETROSPOT CHARLOTTE BAG),(WOODLAND CHARLOTTE BAG),0.053068,0.096186,0.044776,0.843750,8.772091,0.039672,5.784411
5,(ROUND SNACK BOXES SET OF 4 FRUITS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.119403,0.185738,0.099502,0.833333,4.486607,0.077325,4.885572
6,(SPACEBOY LUNCH BOX),(ROUND SNACK BOXES SET OF4 WOODLAND),0.077944,0.185738,0.053068,0.680851,3.665653,0.038591,2.551354
0,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN WOODLAND ANIMALS),0.087894,0.104478,0.051410,0.584906,5.598383,0.042227,2.157395
1,(PLASTERS IN TIN SPACEBOY),(PLASTERS IN TIN WOODLAND ANIMALS),0.081260,0.104478,0.046434,0.571429,5.469388,0.037945,2.089552

**RESPOSTA 4.c.:** Todos os listados acima, já que foram agrupados por confidence seguidos pelo support

## 5. Compare as regras da Alemanha aplicadas agora para a França.
Essa questão não possui correção automática.

In [187]:
df_france_basket = df.loc[df['Country']=='France'].groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack(level=-1).reset_index().fillna(0).set_index('InvoiceNo').applymap(lambda x: 1 if x>=1 else 0).drop(['POSTAGE'],axis=1)

### 5.a. Existe alguma similaridade nas principais regras?

In [188]:
germany_rules.sort_values(by=["confidence","support"],ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(RED RETROSPOT CHARLOTTE BAG),(WOODLAND CHARLOTTE BAG),0.053068,0.096186,0.044776,0.843750,8.772091,0.039672,5.784411
5,(ROUND SNACK BOXES SET OF 4 FRUITS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.119403,0.185738,0.099502,0.833333,4.486607,0.077325,4.885572
6,(SPACEBOY LUNCH BOX),(ROUND SNACK BOXES SET OF4 WOODLAND),0.077944,0.185738,0.053068,0.680851,3.665653,0.038591,2.551354
0,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN WOODLAND ANIMALS),0.087894,0.104478,0.051410,0.584906,5.598383,0.042227,2.157395
1,(PLASTERS IN TIN SPACEBOY),(PLASTERS IN TIN WOODLAND ANIMALS),0.081260,0.104478,0.046434,0.571429,5.469388,0.037945,2.089552

In [189]:
france_frequent_itemsets = apriori(df_france_basket, min_support=0.04, use_colnames=True)
france_rules = association_rules(france_frequent_itemsets, metric="confidence", min_threshold=0.5)

france_rules.sort_values(by=["confidence","support"],ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
47,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.086768,0.108460,0.084599,0.975000,8.989500,0.075188,35.661605
49,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.086768,0.117137,0.084599,0.975000,8.323611,0.074435,35.314534
36,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.108460,0.117137,0.104121,0.960000,8.195556,0.091417,22.071584
9,(CHILDRENS CUTLERY SPACEBOY),(CHILDRENS CUTLERY DOLLY GIRL),0.058568,0.060738,0.054230,0.925926,15.244709,0.050673,12.680043
21,(PACK OF 6 SKULL PAPER PLATES),(PACK OF 6 SKULL PAPER CUPS),0.047722,0.054230,0.043384,0.909091,16.763636,0.040796,10.403471

**RESPOSTA 5.a.:** A maioria das regras de assosciação são diferentes mesmo adotando os mesmos parametros para a geração das mesmas

### 5.b. Quais produtos você recomendaria colocar próximos em um supermercado físico na França?

In [190]:
france_rules.sort_values(by=["confidence","support"],ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
47,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.086768,0.108460,0.084599,0.975000,8.989500,0.075188,35.661605
49,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.086768,0.117137,0.084599,0.975000,8.323611,0.074435,35.314534
36,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.108460,0.117137,0.104121,0.960000,8.195556,0.091417,22.071584
9,(CHILDRENS CUTLERY SPACEBOY),(CHILDRENS CUTLERY DOLLY GIRL),0.058568,0.060738,0.054230,0.925926,15.244709,0.050673,12.680043
21,(PACK OF 6 SKULL PAPER PLATES),(PACK OF 6 SKULL PAPER CUPS),0.047722,0.054230,0.043384,0.909091,16.763636,0.040796,10.403471

**RESPOSTA 5.b.:** Todos os listados acima, já que pertencem ao grupo com mais alta confiança e mais alto suporte.

### 5.c. Liste 5 cenários hipotéticos que você vê utilidade de se analisar regras de associação

**RESPOSTA 5.c.:** Detecção de causas de churn, fraude de cartão de crédito, treinamento de IA's, Maximização de vendas, descrobir associações sem sentido porém engraçadas como o número maior de afogamentos estar associado a venda de sorvetes

### 5.d. Utilize a função auxiliar abaixo para calcular conjuntos de itens frequentes (utilize suporte mínimo no intervalo [0.05, 0.3]) variando os tamanhos. Qual padrão você observa?
Qual variável você acredita que afeta a performance desse método? Experimente e discorra sobre quando usar esse método.

In [191]:
# Gera uma matriz 2D de strings aleatórias.
#
# Parâmetro dv (different values): Quantidade de strings aleatórias únicas que a matriz irá conter.
# Parâmetro vpi (values per instance): Quantidade de strings aleatórias que cada instância terá.
# Parâmetro n: Quantidade de instâncias que será retornada.
def generate_fictional_data(dv=50, vpi=10, n=2500000):
    instances = [''.join(random.choices(string.ascii_uppercase + string.digits, k=20)) for _i in range(dv)]
    fictional_data = [random.choices(instances, k=vpi) for _i in range(n)]
    return fictional_data

In [192]:
import time

In [193]:
inicio = time.time()
generate_fictional_data(dv=9, vpi=9, n=2500000)
fim = time.time()
print(fim - inicio)

8.23952054977417

In [194]:
inicio = time.time()
generate_fictional_data(dv=18, vpi=9, n=2500000)
fim = time.time()
print(fim - inicio)

8.200323343276978

In [195]:
inicio = time.time()
generate_fictional_data(dv=9, vpi=18, n=2500000)
fim = time.time()
print(fim - inicio)

17.14121961593628

**RESPOSTA 5.d.:** A variável que mais afeta o desempenho é a vpi, já que o seu valor impacta diretamente em quantas vezes a função choices será chamada. Além disso, após os testes acima foi possivel perceber que essa função é o principal responsável por impactar o desempenho

In [197]:
df_fictional_data=pd.DataFrame(generate_fictional_data(dv=18, vpi=2, n=2500000))

df_fictional_data_basket=pd.get_dummies(df_fictional_data)

fictional_frequent_itemsets = apriori(df_fictional_data_basket, min_support=0.05, use_colnames=True)

fictional_frequent_itemsets

     support                  itemsets
0   0.055378  (0_16UW6F2842ZZNMT5LFJQ)
1   0.055665  (0_2HOVMI8BM044JOCQR6N4)
2   0.055594  (0_392QFQDI1GIY3UZY95Y0)
3   0.055611  (0_56277PLV6Q8J76MLGUP6)
4   0.055607  (0_A52BNTCWZB45CUREUYVK)
5   0.055785  (0_AGDNYR4Z6SOJSG0N8I88)
6   0.055352  (0_B9GZ5P21PO3AZVCARXZ2)
7   0.055690  (0_BLY04OT17DR542TBM19S)
8   0.055267  (0_CYSV8NCDU32FH8KXQMNN)
9   0.055552  (0_CZXGYJWWU3MQ3ZZKGQOV)
10  0.055519  (0_F0USNWJJ4HBRKOXTSV9S)
11  0.055558  (0_LCO1RHTFQM69UQDYFXH6)
12  0.055273  (0_M8B3O8K7OQ40X0EX1MJY)
13  0.055700  (0_OU0XDBWYWXVZUD5FXU8S)
14  0.055579  (0_PMJUKZ9KT4DMHMGXYT5J)
15  0.055574  (0_PY75AH3DYF0TLZFCXYU7)
16  0.055488  (0_W8HW6AHYRA56WXO3XIMU)
17  0.055810  (0_Y2416F342N2Z2ALN62U8)
18  0.055570  (1_16UW6F2842ZZNMT5LFJQ)
19  0.055566  (1_2HOVMI8BM044JOCQR6N4)
20  0.055399  (1_392QFQDI1GIY3UZY95Y0)
21  0.055414  (1_56277PLV6Q8J76MLGUP6)
22  0.055436  (1_A52BNTCWZB45CUREUYVK)
23  0.055571  (1_AGDNYR4Z6SOJSG0N8I88)
24  0.055662  (1_B9GZ5P21PO3AZVCARXZ2)
25  0.055499  (1_BLY04OT17DR542TBM19S)
26  0.055581  (1_CYSV8NCDU32FH8KXQMNN)
27  0.055803  (1_CZXGYJWWU3MQ3ZZKGQOV)
28  0.055534  (1_F0USNWJJ4HBRKOXTSV9S)
29  0.055434  (1_LCO1RHTFQM69UQDYFXH6)
30  0.055640  (1_M8B3O8K7OQ40X0EX1MJY)
31  0.055525  (1_OU0XDBWYWXVZUD5FXU8S)
32  0.055676  (1_PMJUKZ9KT4DMHMGXYT5J)
33  0.055345  (1_PY75AH3DYF0TLZFCXYU7)
34  0.055598  (1_W8HW6AHYRA56WXO3XIMU)
35  0.055746  (1_Y2416F342N2Z2ALN62U8)

Quanto mais Strings diferentes menos cada uma delas aparecerá no conjunto de dados, ou seja, em media, quanto mais Strings distintas menos frequência em média