> Introdução à Ciência dos Dados \
> Ciência da Computação – UFV/Florestal


* **Nome:** Luciano Belo de Alcântara Júnior
* **Matrícula:**  3897

# Aula Prática 05
## Análise Exploratória de Dados

**Objetivo:** Entender comandos para filtro e preparação de dados.
**Pré-requisitos:** Linguagem de programação Python, estatística básica \
**Meta:** Ao final da prática, o aluno será capaz de analisar um conjunto de dados e filtrar e conhecer melhor os dados.

----

In [3]:
### NÃO REMOVA ESSA CÉLULA! ####
!pip --no-cache-dir install --upgrade learntools_dados_ufv

!wget https://raw.githubusercontent.com/gfviegas/CCF425-resources/master/p5/OnlineRetail.xlsx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting learntools_dados_ufv
  Downloading learntools_dados_ufv-1.0.6.tar.gz (25 kB)
Building wheels for collected packages: learntools-dados-ufv
  Building wheel for learntools-dados-ufv (setup.py) ... done
  Created wheel for learntools-dados-ufv: filename=learntools_dados_ufv-1.0.6-py3-none-any.whl size=31952 sha256=943de84666166ccaca0bef134c6ccb8cfe53799cde9c270f64864094b93fdce4
  Stored in directory: /tmp/pip-ephem-wheel-cache-2g1lcuec/wheels/97/08/e3/310ea4cb59a4a083f84ed093cfe9ccc2ca9fb1819e40964a02
Successfully built learntools-dados-ufv
Installing collected packages: learntools-dados-ufv
Successfully installed learntools-dados-ufv-1.0.6
--2022-06-02 13:50:42--  https://raw.githubusercontent.com/gfviegas/CCF425-resources/master/p5/OnlineRetail.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23715344 (23M) [application/octet-stream]
Saving to: ‘OnlineRetail.xlsx’

OnlineRetail.xlsx   100%[===================>]  22.62M  --.-KB/s    in 0.1s

2022-06-02 13:50:42 (162 MB/s) - ‘OnlineRetail.xlsx’ saved [23715344/23715344]

In [4]:
#### Não altere essa célula!!! ####
import pandas as pd


from learntools_dados_ufv.core import binder; binder.bind(globals())
from learntools_dados_ufv.ccf425.pratica_5 import *

# Roteiro

## Leitura dos dados
Veja os dados do arquivo `OnlineRetail.xlsx`. 

Note que o arquivo é um Excel. A biblioteca consegue ler e o interpretar da mesma maneira que um CSV, como estamos acostumados.

Note que a função usada é a `read_excel` e não a `read_csv`.

É normal que demore um pouco, pois os arquivos em excel possuem muito mais recursos e dados armazenados do que um simples csv.

In [6]:
df = pd.read_excel('./OnlineRetail.xlsx')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## Explorar os dados

### Verificar quais atributos (colunas) fazem parte dos dados

In [7]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

### Verificar o tipo de cada atributo

In [8]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

### Avaliar alguns objetos

In [9]:
# Veja os 5 primeiros registros
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [10]:
# Veja os 10 últimos registros
df.tail(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

### Calcular o número de objetos

In [11]:
# Número de instâncias/objetos/linhas
len(df)

541909

### Verificar a forma (instâncias, atributos)

In [13]:
# O primeiro elemento da tupla é a quantidade de instâncias, e o segundo elemento a quatnidade de atributos/colunas
df.shape

(541909, 8)

### Contar objetos de cada valor distinto para um atributo

In [14]:
# Conta quantas vezes cada item aparece em uma coluna
df['Description'].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER     2369
REGENCY CAKESTAND 3 TIER               2200
JUMBO BAG RED RETROSPOT                2159
PARTY BUNTING                          1727
LUNCH BAG RED RETROSPOT                1638
                                       ...
Missing                                   1
historic computer difference?....se       1
DUSTY PINK CHRISTMAS TREE 30CM            1
WRAP BLUE RUSSIAN FOLKART                 1
PINK BERTIE MOBILE PHONE CHARM            1
Name: Description, Length: 4223, dtype: int64

### Mostrar a taxa de objetos de cada valor distinto para um atributo

In [15]:
# Faz a normalização com o percentual de cada valor
df['Description'].value_counts(normalize=True)

WHITE HANGING HEART T-LIGHT HOLDER     0.004383
REGENCY CAKESTAND 3 TIER               0.004071
JUMBO BAG RED RETROSPOT                0.003995
PARTY BUNTING                          0.003195
LUNCH BAG RED RETROSPOT                0.003031
                                         ...
Missing                                0.000002
historic computer difference?....se    0.000002
DUSTY PINK CHRISTMAS TREE 30CM         0.000002
WRAP BLUE RUSSIAN FOLKART              0.000002
PINK BERTIE MOBILE PHONE CHARM         0.000002
Name: Description, Length: 4223, dtype: float64

### Verificar quantos valores ausentes existes em um atributo

In [16]:
# A função retorna se os valores são nulos ou não. Ou seja, False == existe um valor para a linha | True == o valor é nulo.
pd.isnull(df['Description']).value_counts()

False    540455
True       1454
Name: Description, dtype: int64

### Apagar os objetos com valores nulos/ausentes de alguma coluna

In [17]:
df = df.dropna(axis=0, subset=['Description'])
pd.isnull(df['Description']).value_counts()

False    540455
Name: Description, dtype: int64

### Filtrar por índice da linha

In [18]:
df.loc[2]

InvoiceNo                              536365
StockCode                              84406B
Description    CREAM CUPID HEARTS COAT HANGER
Quantity                                    8
InvoiceDate               2010-12-01 08:26:00
UnitPrice                                2.75
CustomerID                            17850.0
Country                        United Kingdom
Name: 2, dtype: object

### Filtrar por faixa de índices

In [19]:
df[2:8]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom

### Filtrar pelo nome de uma coluna

In [20]:
# Recupera somente a descrição dos 5 primeiros registros
df['Description'].head(5)

0     WHITE HANGING HEART T-LIGHT HOLDER
1                    WHITE METAL LANTERN
2         CREAM CUPID HEARTS COAT HANGER
3    KNITTED UNION FLAG HOT WATER BOTTLE
4         RED WOOLLY HOTTIE WHITE HEART.
Name: Description, dtype: object

### Filtrar por mais de uma coluna

In [ ]:
df[['Description', 'InvoiceNo']].head(5)

                           Description InvoiceNo
0   WHITE HANGING HEART T-LIGHT HOLDER    536365
1                  WHITE METAL LANTERN    536365
2       CREAM CUPID HEARTS COAT HANGER    536365
3  KNITTED UNION FLAG HOT WATER BOTTLE    536365
4       RED WOOLLY HOTTIE WHITE HEART.    536365

### Filtrar por índice de linha em uma coluna específica

In [ ]:
# Qual o valor da coluna "Description" na 5ª linha?
df.loc[5, 'Description']

'SET 7 BABUSHKA NESTING BOXES'

### Filtrar pelos valores de uma coluna

In [ ]:
df[df['Country'] == 'Brazil'].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
157299,550201,22423,REGENCY CAKESTAND 3 TIER,16,2011-04-15 10:25:00,10.95,12769.0,Brazil
157300,550201,22699,ROSES REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
157301,550201,22697,GREEN REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
157302,550201,22698,PINK REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
157303,550201,22366,DOORMAT AIRMAIL,10,2011-04-15 10:25:00,6.75,12769.0,Brazil

### Filtrar utilizando expressões lógicas

In [ ]:
df[(df['Country'] == 'Brazil') & (df['Quantity'] > 15)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
157299,550201,22423,REGENCY CAKESTAND 3 TIER,16,2011-04-15 10:25:00,10.95,12769.0,Brazil
157300,550201,22699,ROSES REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
157301,550201,22697,GREEN REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
157302,550201,22698,PINK REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
157304,550201,21430,SET/3 RED GINGHAM ROSE STORAGE BOX,24,2011-04-15 10:25:00,3.39,12769.0,Brazil

In [ ]:
df[((df['Country'] == 'Brazil') & (df['Description'] == 'PINK REGENCY TEACUP AND SAUCER')) | ((df['Country'] == 'Japan') & (df['Quantity'] > 1000))].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
19871,537899,22328,ROUND SNACK BOXES SET OF 4 FRUITS,1488,2010-12-09 10:44:00,2.55,12755.0,Japan
157302,550201,22698,PINK REGENCY TEACUP AND SAUCER,24,2011-04-15 10:25:00,2.55,12769.0,Brazil
511421,579498,23084,RABBIT NIGHT LIGHT,2040,2011-11-29 15:52:00,1.79,12798.0,Japan

### Criar um novo atributo derivado em outros

In [ ]:
df['TotalPrice'] = (df['Quantity'] * df['UnitPrice'])
df.head()

/var/folders/5k/09d9yfqx7kxbg7vctjt_5q3h0000gn/T/ipykernel_90300/1713368492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalPrice'] = (df['Quantity'] * df['UnitPrice'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

### Apagar uma instância por índice da linha

In [ ]:
# Apagando a terceira linha
df2 = df.drop(2)
df2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30

### Apagar uma coluna

In [ ]:
df2 = df2.drop('TotalPrice', axis=1)
df2

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

### Criar um índice por um atributo

In [ ]:
# Índices ajudam a filtrar
df = df.set_index('InvoiceNo')

In [ ]:
df.loc[536365]

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
InvoiceNo,,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.50

### Cancelar os índices que foram criados

In [ ]:
df = df.reset_index()
df.index

RangeIndex(start=0, stop=540455, step=1)

### Filtrar e calcular valores estatísticos de um atributo com valores numéricos

In [ ]:
df[df['Country'] == 'Brazil']['UnitPrice'].mean()

4.456250000000001

In [ ]:
df[df['Country'] == 'France']['UnitPrice'].mean()

5.028864087881266

In [ ]:
df[df['Country'] == 'Brazil']['Quantity'].median()

10.0

In [ ]:
df[df['Country'] == 'Japan']['Quantity'].median()

36.0

### Agrupar por um atributo e calcular estatísticas desse grupo

In [ ]:
df_gb_description = df.groupby('Description')

df_gb_description['UnitPrice'].count().head()

Description
20713                               1
 4 PURPLE FLOCK DINNER CANDLES     41
 50'S CHRISTMAS GIFT BAG LARGE    130
 DOLLY GIRL BEAKER                181
 I LOVE LONDON MINI BACKPACK       88
Name: UnitPrice, dtype: int64

In [ ]:
df_gb_description['Country'].count().head()

Description
20713                               1
 4 PURPLE FLOCK DINNER CANDLES     41
 50'S CHRISTMAS GIFT BAG LARGE    130
 DOLLY GIRL BEAKER                181
 I LOVE LONDON MINI BACKPACK       88
Name: Country, dtype: int64

In [ ]:
df_gb_description['UnitPrice'].sum().head()

Description
20713                               0.00
 4 PURPLE FLOCK DINNER CANDLES    100.67
 50'S CHRISTMAS GIFT BAG LARGE    185.28
 DOLLY GIRL BEAKER                271.38
 I LOVE LONDON MINI BACKPACK      405.80
Name: UnitPrice, dtype: float64

# Exercícios

Execute e não remova a célula abaixo antes de iniciar os exercícios. Faça todas as atividades manipulando a variável `df`.

In [164]:
# Atribui o dataframe com o estado "original" em uma variável isolada
original_df = pd.read_excel('./OnlineRetail.xlsx')
df = original_df
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## 1. Recupere a quantidade de instâncias com Notas Fiscais ausentes/nulas
Armazene-a na variável `missing_invoice_no`.

Chame a função `q1.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q1.hint()`

In [165]:
# q1.hint()

invoice_no_null_values = pd.isnull(df['InvoiceNo'])
missing_invoice_no = len(invoice_no_null_values[invoice_no_null_values == True])

display(missing_invoice_no)

q1.check()

0

CORRETO:

## 2. Recupere a quantidade de instâncias com Preço Unitário menor que zero.
Armazene-a na variável `invalid_unit_price`.

Chame a função `q2.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q2.hint()`

In [166]:
# q2.hint()

invalid_unit_values = df['UnitPrice']
invalid_unit_price = len(invalid_unit_values[invalid_unit_values < 0])
display(missing_invoice_no)

q2.check()

0

CORRETO:

## 3. Remova todos as instâncias que possui o Preço Unitário inválido.
Reatribua o dataframe filtrado na variável `df`.

Chame a função `q3.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q3.hint()`

In [167]:
# q3.hint()

df = df.drop(invalid_unit_values[invalid_unit_values < 0].index)

q3.check()

CORRETO:

## 4. Recupere o ID do Cliente que comprou mais itens.
Armazene-o na variável `top_customer_id`.

Chame a função `q4.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q4.hint()`

In [168]:
# q4.hint()

customer_id_values = df.groupby("CustomerID")
top_customer_id_value = customer_id_values.count()['Quantity'].sort_values(ascending=False).head(1).index[0]
top_customer_id = int(top_customer_id_value)

display(top_customer_id)

q4.check()

17841

CORRETO:

## 5. Recupere a descrição do produto mais caro vendido.
Armazene-o na variável `most_expensive_product`.

Chame a função `q5.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q5.hint()`

In [170]:
# q5.hint()

unit_price_data = df["UnitPrice"]
most_expensive_product_data = df[unit_price_data == unit_price_data.max()]
most_expensive_product = most_expensive_product_data["Description"].values[0]

display(most_expensive_product)

q5.check()

'Manual'

CORRETO:

## 6. Recupere a % relativa das instâncias atribuídas ao país `Germany` excluindo o país `United Kingdom` da base.
Armazene-a na variável `germany_orders_percentage`.

Chame a função `q6.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q6.hint()`

In [173]:
# q6.hint()

def specific_country_in_df(dataframe,country):
    return dataframe[dataframe["Country"] == country]

df_without_united_kingdom = df.drop(specific_country_in_df(df,"United Kingdom").index)
germany_orders_data = specific_country_in_df(df_without_united_kingdom,"Germany")
germany_orders_percentage = (len(germany_orders_data)*100)/len(df_without_united_kingdom)
display(germany_orders_percentage)

q6.check()

20.449699554177165

CORRETO:

## 7. Recupere a(s) instância(s) da compra que possui mais itens.
Armazene-a na variável `most_items_order`.

Chame a função `q7.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q7.hint()`

In [174]:
# q7.hint()

most_items_order_with_max_value = df["Quantity"].max()
most_items_order = df[df["Quantity"] == most_items_order_with_max_value]
display(most_items_order)

q7.check()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom

CORRETO:

## 8. Recupere o identificador da compra mais cara.
Armazene-a na variável `most_expensive_order`.

Chame a função `q8.check()` no fim da célula para verificar a resposta.
Você pode pedir dicas com `q8.hint()`

In [175]:
# q8.hint()

most_expensive_order = int(most_items_order.InvoiceNo.values[0])
display(most_expensive_order)

q8.check()

581483

CORRETO:

## 9. Responda as questões abertas a seguir:

### 9.a) Qual o objetivo das estatísticas descritivas?

RESPOSTA: As estatísticas descritivas tem como objetivo sintetizar uma série de valores de mesma essência, permitindo assim que se tenha uma visão global da variação desses valores, organizando e descrevendo os dados de três maneiras: por meio de tabelas, de gráficos e de medidas descritivas.

### 9.b) Liste 3 perguntas que poderiam ser respondidas utilizando estatística descritiva com o conjunto de dados trabalhados nessa prática.

RESPOSTA: 

* Qual a média dos preços unitários ?  
* Qual o desvio padrão dos preços unitários ?
* Qual é a mediana das quantidades compradas ?

### 9.c) Tente responder essas 3 perguntas acima com evidências usando as funcionalidades aprendidas.

RESPOSTA:

In [161]:
# Qual a média dos preços unitários ?  
df["UnitPrice"].mean()

4.651960568802421

In [162]:
# Qual o desvio padrão dos preços unitários ?
df["UnitPrice"].std()

94.39553385867306

In [163]:
# Qual é a mediana das quantidades compradas ?
df["Quantity"].mean()

9.552283975449617

### 9.d) Você acha que estatística descritiva é útil para fazer inferência ou predições? Justifique.

RESPOSTA:
Sim. Pois com a estatística descritiva é possível visualizar e descrever os dados. Na inferência, por exemplo, pode-se fazer afirmativas através de um conjunto de dados. Já na predição organiza-se os dados para decidir as melhores ações que possam prever possíveis cenários de sucesso para um negócio, por exemplo.